.shell {
  align-items: center;
  background: linear-gradient(
    130deg,
    var(--mantine-color-shamrock-3),
    var(--mantine-color-shamrock-7)
  );
  display: flex;
  height: 100dvh;
  justify-content: center;
}

.form {
  border-radius: 6px;
  box-shadow: var(--mantine-shadow-sm);
  max-width: 450px;
  width: 100%;
}
